# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# Node / Expo
node_modules/
.expo/
dist/
build/
*.orig.*
web-build/
.env
.env.production
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
